/* https://cube.fyi/utility.html */

/* TL;DR: Utility classes (yes, like Tailwind) */

.flow > * + * {
  margin-block-start: var(--_flow-space, var(--space-m-l));
}

.wrapper {
  width: clamp(16rem, 95vw, 75rem);
  margin-inline: auto;
  padding-inline: var(--_gutter, 1rem);
  position: relative;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  flex-direction: var(--_flex-direction, row);
  justify-content: var(--_justify-content, flex-start);
  align-items: center;
  gap: var(--_gutter, var(--space-s-m));
}

.region {
  padding-top: var(--_region-space);
  padding-bottom: var(--_region-space, var(--space-l-xl));
}

.object-fit-cover {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.text-center {
  text-align: center;
  margin-inline: auto;
}

.correct {
  color: var(--clr-success);
}

.incorrect {
  color: var(--clr-error);
}

/* === FOR DEBUGGING PURPOSES ONLY! === */
/*
* {
  border: solid 1px rgba(1, 181, 1, 0.318) !important;
} */
