---
import fs from 'node:fs';

import Layout from '../layouts/Layout.astro';
import Shortcuts from '../components/Shortcuts.astro';
import InputField from '../components/InputField.astro';
import TestSettings from '../components/TestSettings.astro';
import ThemeSelector from '../components/ThemeSelector.astro';

import Logo from '../assets/logo.svg';
import Github from '../assets/github.svg';
import Palette from '../assets/palette.svg';
import Version from '../assets/version.svg';

const packageJson = fs.readFileSync('package.json', 'utf8');
const { version } = JSON.parse(packageJson);
---

<style>
  header {
    padding-block: var(--space-m);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-xs);
  }
  section {
    overflow: hidden;
  }
  .text-field {
    position: relative;
    column-gap: 0.5ch;
    row-gap: 0;
    color: var(--fg-color-light);
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight-5);
    font-size: var(--font-fluid-lg);
    height: 3lh;
    overflow: hidden;
    text-wrap: pretty;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 0.1em;
      height: 2rem;
      top: 8px;
      background-color: var(--accent-color);
      animation: caretFlashSmooth 1s infinite;
    }
  }
  footer {
    margin-top: auto;
    font-size: var(--font-fluid-xsm);
    .cluster {
      margin-bottom: var(--space-xs);
    }
    a,
    button.theme-switch,
    span {
      display: flex;
      align-items: center;
      padding: 0;
      background-color: transparent;
      gap: var(--space-3xs);
      color: var(--clr-neutral-600);
      font-weight: var(--font-weight-5);
      text-decoration: none;
      svg {
        stroke: var(--clr-neutral-600);
      }
    }
  }
</style>

<Layout title="TypeQuest">
  <ThemeSelector />
  <header>
    <Logo />
    <h1>Type Quest</h1>
  </header>
  <main>
    <section class="region flow wrapper" style="--_region-space: 2rem;">
      <TestSettings />
      <p><time datetime="0m 15s">00:15</time></p>
      <section class="text-field cluster"></section>
      <InputField />
    </section>
  </main>
  <footer>
    <section
      class="cluster"
      style="--_justify-content: center;
      --_gutter: 1rem"
    >
      <Shortcuts key="Ctrl + T" label="Change Theme" />
      <Shortcuts key="Ctrl + R" label="Restart Test" />
    </section>
    <ul class="cluster" style="--_justify-content: center; --_gutter: 2rem">
      <li>
        <a href="https://github.com/BrinsilElias/type-quest"><Github />Github</a
        >
      </li>
      <li>
        <button class="theme-switch"><Palette />Light Theme</button>
      </li>
      <li>
        <span><Version />v{version}</span>
      </li>
    </ul>
  </footer>
</Layout>

<script>
  const themeSelector = document.querySelector('dialog');
  const themeSwitch = $('.theme-switch');
  themeSwitch.on('click', function (e) {
    e.preventDefault();
    themeSelector?.showModal();
  });
</script>
