---
import Layout from '../layouts/Layout.astro';
---

<Layout title="TypeQuest">
  <main>
    <article class="region prose wrapper">
      <p class="wordlist"></p>
      <input
        id="keyboard-input"
        type="text"
        placeholder="Start typing"
        autocomplete="off"
      />
    </article>
  </main>
</Layout>
